%section#add.col-md-6
	%h1 Новая заявка
	%form(action="/task" method="post" class="form-horizontal")
		%input{type: "hidden", name: "client_id", value: "#{@current_user}"}
		
		.form-group
			%label(for="Name" class="control-label")Кратко:
			%input#name(type="text" name="name" class="form-control")
		.form-group
			%label(for="Content" class="control-label")Описание:
			%textarea#content(type="text" name="content" class="form-control")
		.form-group
			%input(type="submit" value="Отправить" class="btn btn-default")

%section.col-md-6
	%h1 Прошлые заявки
	%ul.list-unstyled
		- @tasks.each do |task|
			%li 
				- if !task.completed
					☐
				- else
					☑
				= Time.parse(task.updated_at.to_s).strftime("%D at %T")
				%a(href="/task/#{task.id}")#{task.name}
				- if task.assignet_to
					назначен 
					= User.get(task.assignet_to).username
				/ от
				/ %a(href='/user/#{task.user_id}') #{User.get(task.user_id).username}
				|
				%a(href="/task/#{task.id}/delete")X

%section.col-md-6
	%h1 Текущее оборудование
	- unless !@user_hardware && @user_hardware.nil?
		%ul
			- @user_hardware.each do |hardware|
				%li
					= hardware.name