!!! 5
%html
	%head
		%meta(charset="utf-8")
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
		%title #{@title}
		%link{rel: "stylesheet", href: "/style.css"}
	%body
		.container
			= yield
		