%header.navbar.navbar-inverse.navbar-static-top{role: "navigation"}
	.navbar-header
		%button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse")
			%span.sr-only
				Toggle navigation
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar

		%a.navbar-brand{href: "/"} D&A

	.collapse.navbar-collapse#navbar-collapse
		%ul.nav.navbar-nav
			%li.active
				%a{href: "/auth/logout"} Выход