%section.row
	%section#add.col-md-12
		%h1 Новая заявка
		%form(action="/task" method="post" role="form" class="form-horizontal")
			%input#for{type: "hidden", name: "client_id", value: "#{session[:user_id]}"}
			.form-group
				%label(for="Name" class="col-sm-2 control-label") Кратко:

				.col-sm-10
					%input#name(type="text" name="name" class="form-control")
			.form-group
				%label(for="Content" class="col-sm-2 control-label") Описание:

				.col-sm-10
					%textarea#content(type="text" name="content" class="form-control" rows="3")

			.form-group
				%label(for="Assignet to" class="col-sm-2 control-label") Назначить:

				.col-sm-10
					%input#assignet_to(type="text" name="assignet_to" class="form-control")

			.form-group
				.col-sm-offset-2.col-sm-10
					%input(type="submit" value="создать" class="btn btn-default")
%section.row
	%section.col-md-12
		%h1 Список всех заявок

		%ul.list-group
			- @tasks.each do |task|
				%li.list-group-item
					- if !task.completed
						%a(href="/task/#{task.id}/complete")☐
					- else
						☑
					= Time.parse(task.updated_at.to_s).strftime("%D в %T")
					%a(href="/task/#{task.id}")#{task.name}
					назначен #{task.assignet_to}
					от
					%a(href='/user/#{task.user_id}') #{User.get(task.user_id).username}
					|
					%a(href="/task/#{task.id}/delete")X
