%section.row
	- if @role == "manager" || @role == "admin"
		%section.col-md-12
			%h1 Добавить новое
			%form.form-horizontal{action: "/hardware/add", method: "post", role: "form"}
				.form-group
					%label(for="Name" class="col-sm-2 control-label") Имя:

					.col-sm-10
						%input#name.form-control(type="text" name="name")

				.form-group
					%label(for="type" class="col-sm-2 control-label") Тип:

					.col-sm-10
						%input#type(type="text" name="type" class="form-control")

				.form-group
					.col-sm-offset-2.col-sm-10
						%input(type="submit" value="создать" class="btn btn-default")

	%section.col-md-12
		%h1 Оборудование на складе
		- if @hardware
			%table.table
				%tbody.table-hover
					%tr
						%th #
						%th Имя
						%th Тип
					- @hardware.each do |hardware|
						%tr
							%td 
								= hardware.id
							%td
								%a{href: "/hardware/#{hardware.id}"} #{hardware.name}
								
							%td
								= hardware.type
		- else
			%p Нет ничего