%section.row
	%section.col-md-12
		- if @hardware
			= @hardware.name
			= @hardware.id
			= @hardware.type
			= @hardware.user_id

%section.row
	%section.col-md-12
		%ul
			%li
				%a{href: "/hardware/#{@hardware.id}/delete"} Удалить
			%li
				%a{href: "/hardware/#{@hardware.id}/transfer"} Перенести
				%select#role.form-control
					- users = User.all(role: 'client')
					- users.each do |user|
						%option(value="#{user.id}") #{user.username}