!!! 5
%html
	%head
		%meta{charset: "utf-8"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
		%title #{@title}
		%link{rel: "stylesheet", href: "/style.css"}
		%script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
		%script{src: "/dropdown.js"}
		%script{src: "/collapse.js"}
	%body
		= partial :nav
		
		.container

			- if flash[:success]
				%p.green
					= flash[:success]

			- if flash[:notice]
				%p.purple
					= flash[:notice]

			- if flash[:error]
				%p.red
					= flash[:error]

			= yield
			