.row
	.page-header
		%h1 Добро пожаловать в систему хелпдеск
	%secton.col-xs-5
		%form(action="/auth/login" method="post" class="form-horizontal" role="form")
			.form-group
				%label.control-label(for="username" class="col-sm-2")Имя:
				.col-sm-10
					%input#username(type="text" name="username" class="form-control")
			.form-group
				%label.control-label(for="password" class="col-sm-2")Пароль:
				.col-sm-10
					%input#password(type="password" name="password" class="form-control")
			.form-group
				.col-sm-offset-2.col-sm-10
					%input(type="submit" value="войти" class="btn btn-default")