%header.navbar.navbar-inverse.navbar-static-top{role: "navigation"}
	.navbar-header
		%button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse")
			%span.sr-only
				Toggle navigation
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar
		
		%a.navbar-brand{href: "/"} D&A

	.collapse.navbar-collapse#navbar-collapse
		%ul.nav.navbar-nav
			- if session[:role] == 'admin' || session[:role] == 'manager'
				%li
					%a(href='/dashboard') Панель управления
			- if session[:role] == 'admin' || session[:role] == 'manager'
				%li
					%a(href='/users') Пользователи

			- if session[:role] == 'admin' || session[:role] == 'support'
				%li
					%a(href='/tech') Заявки

			- if session[:role] == 'admin' || session[:role] == 'manager' || session[:role] == 'support'
				%li
					%a(href='/hardwares') Оборудование

			%li
				%a(href='/auth/logout') Выйти