- if @user
	%h1 Reset password of #{@user.username}
	%form(action="/task/#{@task.id}" method="post" id="edit")
		%input(type="hidden" name="_method" value="PUT")
		%label(for="Name")Name:
		%input#name(type="text" name="name" value="#{@task.name}")
		%label(for="Content")Content:
		%input#content(type="text" name="content" value="#{@task.content}")
		%label(for="Assignet to")Assignet to:
		%input#assignet_to(type="text" name="assignet_to" value="#{@task.assignet_to}")
		%input(type="submit" value="Submit") or <a href="/dashboard">Cancel</a>
- else
	not found