- if @task
	%form(action="/task/#{@task.id}" method="post" id="edit" class="form-horizontal")
		%input(type="hidden" name="_method" value="PUT")

		.form-group
			%label(for="Name" class="col-sm-2 control-label")Кратко:
			.col-sm-10
				%input#name(type="text" name="name" value="#{@task.name}" class="form-control")

		.form-group
			%label(for="Content" class="col-sm-2 control-label")Описание:
			.col-sm-10
				%input#content(type="text" name="content" value="#{@task.content}" class="form-control")

		.form-group
			%label(for="Assignet to" class="col-sm-2 control-label")Назначен:
			.col-sm-10
				%input#assignet_to(type="text" name="assignet_to" value="#{@task.assignet_to}" class="form-control")

		.form-group
			.col-sm-offset-2.col-sm-10
				%input(type="submit" value="Сохранить" class="btn btn-default")
- else
	not found