- if @task
	%p Are you sure you want to delete the following task:
	%p #{@task.name}: #{@task.content}
	%form(action="/task/#{@task.id}" method="post")
		%input(type="hidden" name="_method" value="delete")
		/ %input{type: "submit", value: "Yes"}
		%input(type="submit" value="Yes")
		%a{href: "/dashboard"} No
- else
	%p Task not found