%section.row
	%section.col-md-12
		%h1 Список всех заявок

		%ul.list-unstyled
			- @tasks.each do |task|
				%li 
					- if !task.completed
						%a(href="/task/#{task.id}/complete")☐
					- else
						☑
					= Time.parse(task.updated_at.to_s).strftime("%D в %T")
					%a(href="/task/#{task.id}")#{task.name}
					назначен #{task.assignet_to}
					от
					%a(href='/user/#{task.user_id}') #{User.get(task.user_id).username}
					|
					%a(href="/task/#{task.id}/delete")X
