%form(action="/test/sessions" method="post")
	%label(for="username")Username:
	%input#username(type="text" name="username")
	%label(for="password")Password:
	%input#password(type="password" name="password")
	%input(type="submit" value="Login") or <a href="/">Cancel</a>