%section.row
- if @user
	%section.col-md-12
		%h1 Детали
		%form.form-horizontal(action="/user/#{@user.id}/change" method="post" id="change")
			%input(type="hidden" name="_method" value="put")
			/ .form-group
			/ 	%label(class="col-sm-2 control-label")
			/ 		ID:
					
			/ 	.col-sm-10
			/ 		id #{@user.id}

			.form-group
				%label(for="username" class="col-sm-2 control-label") Имя: 

				.col-sm-10
					%input.form-control(type="text" name="username" value="#{@user.username}")

			.form-group
				%label(for="role" class="col-sm-2 control-label") Роль: 

				.col-sm-10
					%select#role(name="role" class="form-control")

						- if @user.role == "client"
							%option(value="client" selected) Клиент
						- else
							%option(value="client") Клиент

						- if @user.role == "support"
							%option(value="support" selected) Инженер
						- else
							%option(value="support") Инженер

						- if @user.role == "manager"
							%option(value="manager" selected) Менеджер
						- else
							%option(value="manager") Менеджер


			.form-group
				.col-sm-offset-2.col-sm-10
					%input(class="btn btn-default" type="submit" value="Изменить")
		
	%section.col-md-12
		%h1 Сменить пароль
		%form.form-horizontal(action="/user/#{@user.id}/reset" method="post" id="edit")
			%input(type="hidden" name="_method" value="PUT")

			.form-group
				%label(for="old-password" class="col-sm-2 control-label")Старый пароль:

				.col-sm-10
					%input#old-password(type="password" name="old_password" class="form-control")

			.form-group
				%label(for="new-password" class="col-sm-2 control-label")Новый пароль:

				.col-sm-10
					%input#new-password(type="text" name="password" class="form-control")

			.form-group
				.col-sm-offset-2.col-sm-10
					%input(type="submit" value="Change password" class="btn btn-default")