%section.row
	%section.col-md-6
		%h1 Список всех пользователей
		%ul.list-group
			- @users.each do |user|
				%li.list-group-item
					%a{href: "/user/#{user.id}"} #{user.username}
					|
					%a{href: "/user/#{user.id}/delete"} Удалить

	%section#add.col-md-6
		%h1 Создать нового пользователя
		%form(action="/user" method="post" class="form-horizontal")
			.form-group
				%label(for="Name" class="col-sm-2 control-label") Имя:

				.col-sm-10
					%input#name(type="text" name="username" class="form-control")
			
			.form-group
				%label(for="Password" class="col-sm-2 control-label") Пароль:
				
				.col-sm-10
					%input#password(type="password" name="password" class="form-control")
			
			.form-group
				%label(for="role" class="col-sm-2 control-label") Роль:
				/ %input#role(type="text" name="role")
				
				.col-sm-10
					%select#role(name="role" class="form-control")
						%option(value="client") Клиент
						%option(value="support") Инженер
						%option(value="manager") Менеджер
			
			.form-group
				.col-sm-offset-2.col-sm-10
					%input(type="submit" value="создать" class="btn btn-default")