- if @user
	%p Are you sure you want to delete user: #{@user}
	%form(action="/user/#{@user.id}" method="post")
		%input(type="hidden" name="_method" value="delete")
		%input(type="submit" value="Yes")
		%a{href: "/users"} No
- else
	%p Task not found